html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ededeb;
}


/* Inputs/Select */
.form-control .form-select {
  color: white;
  background-color: black;
}

/* Estilo para os inputs/select quando o modo noturno está ativado */
.corTexto {
  color: #222222;
}

.corTexto.dark-mode {
  color: #ededeb;
}

/* Button */
.degradeButton {
  background: linear-gradient(to right, #000000, #4d4d4d);
  color: white;
  /* Remove a borda */
  border: none;
  /* Espaçamento interno */
  padding: 10px 20px;
  /* Altera o cursor ao passar o mouse */
  cursor: pointer;
}

.degradeButton.dark-mode {
  background: linear-gradient(to right, #9c9c9c, #675f5f);
}

/* Button quando passar cursor */
.degradeButton:hover {
  background: linear-gradient(to right, #4d4d4d, #000000);
  color: #eaf3c9;
  /* Aumenta ligeiramente o tamanho ao passar o mouse */
  transform: scale(1.05);
}

.degradeButton.dark-mode:hover {
  background: linear-gradient(to right, #675f5f, #9c9c9c);
  color: #eaf3c9;
  /* Aumenta ligeiramente o tamanho ao passar o mouse */
  transform: scale(1.05);
}

/* Div para conter uma lista de elementos, dentro de uma .scroll_div */
.div_list {
  min-height: 250px;
  max-height: 750px;
  background-color: #222222;
}

.div_list.dark-mode {
  min-height: 250px;
  max-height: 750px;
  background-color: #ededeb;
}

/* Limita a div de scroll para o tamanho máximo da div externa */
.scroll_div {
  max-height: 100%;
}

/* Divs dos itens que estarão dentro da .scroll_div, ou seja, os elementos da lista como no relatório e gerenciador de tipos de produtos */
.scroll_component {
  background-color: #ededed;
}

.scroll_header {
  background-color: #ededed;
}

.scroll_header.rounded-circle:hover{
  background-color: #e6e68c;
}

.scroll_component:hover {
  background-color: #614a4a;
}

.scroll_component:hover>.corTexto {
  color: #ededeb;
}

.scroll_component.dark-mode{
  background-color: #222222;
}

.scroll_header.dark-mode{
  background-color: #222222;
}

.dark-mode.scroll_header.rounded-circle:hover{
  background-color: #614a4a;
}

.dark-mode.scroll_component:hover {
  background-color: #e6e68c;
}

.dark-mode.scroll_component:hover>.corTexto {
  color: #222222;
}

.selected_scroll_component {
  background-color: #e6e68c;
}

.selected_scroll_component>.corTexto {
  background-color: #222222;
}

.selected_scroll_component.dark-mode {
  background-color: #614a4a;
}

.selected_scroll_component.dark-mode>.corTexto {
  background-color: #ededeb;
}

/* Customiza a scrollbar de toda a página (ou de uma div específica) */
.scroll_div::-webkit-scrollbar {
  width: 15px;
  /* Largura da barra de rolagem */
}

/* Customiza o fundo da barra de rolagem (a trilha por onde o thumb se move) */
.scroll_div::-webkit-scrollbar-track {
  background: #ededeb;
  /* Cor de fundo */
  border-radius: 6px;
}

.scroll_div.dark-mode.scroll_div::-webkit-scrollbar-track {
  background: #222222;
  /* Cor de fundo */
  border-radius: 6px;
}

/* Customiza a parte da barra de rolagem que indica a posição atual da rolagem (o thumb) */
.scroll_div::-webkit-scrollbar-thumb {
  background: #303030;
  /* Cor do thumb */
  border-radius: 15px;
  /* Arredonda as bordas do thumb */
}

.scroll_div.dark-mode.scroll_div::-webkit-scrollbar-thumb {
  background: #5b5b5b;
  /* Arredonda as bordas do thumb */
}

/* Muda a cor do thumb ao passar o mouse */
.scroll_div::-webkit-scrollbar-thumb:hover {
  background: #5b5b5b;
  /* Cor do thumb ao passar o mouse */
}

.scroll_div.dark-mode.scroll_div::-webkit-scrollbar-thumb:hover {
  background: #303030;
  /* Cor do thumb ao passar o mouse */
}

.permit {
  background-color: #d9d9d9;
  max-height: 750px;
  min-height: 250px;
}

.permit.dark-mode {
  background-color: #303030;
  max-height: 750px;
  min-height: 250px;
}

/* boxss*/
/* Fonte Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Estilizando o checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
  /* Esconder o checkbox padrão */
}

.custom-checkbox label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 25px;
  /* Espaçamento para o ícone */
  font-family: 'Open Sans', sans-serif;
  /* Fonte Open Sans */
}

.custom-checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  /* Tamanho do checkbox */
  height: 18px;
  /* Tamanho do checkbox */
  border: 2px solid #777;
  /* Cor da borda */
  background-color: transparent;
  /* Fundo transparente */
  border-radius: 4px;
  /* Bordas curvadas */
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
  background-color: #777;
  /* Cor de fundo quando selecionado */
}

.custom-checkbox label:after {
  content: '\2713';
  /* Símbolo de marca de seleção (checkmark) */
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 14px;
  color: #fff;
  /* Cor do símbolo */
  visibility: hidden;
  border-radius: 2px;
  /* Bordas curvadas para o símbolo */
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
  visibility: visible;
}

/* Estilizando a label */
.custom-label222 {
  font-size: 24px;
  /* Define o tamanho da fonte */
  color: #333;
  /* Define a cor do texto */
  /*font-weight: bold; /* Define a negrito */
}

/* fechamendo dos boxs*/



/* Switch */
/* Oculta o input original */
.form-check-input {
  display: none;
}

/* Estilo para o switch desativado */
.form-check-label {
  position: relative;
  display: inline-block;
  /* Largura do botão no estado desativado */
  width: 55px;
  /* Altura do botão no estado desativado */
  height: 26px;
  /* Arredonda o botão */
  border-radius: 20px;
  /* Cor de fundo do botão desativado */
  background-color: black;
  /* Animação da mudança de tamanho e cor */
  transition: width 0.3s, background-color 0.3s;
}

/* Estilo para o switch desativado */
.form-check-label:before {
  content: '';
  display: inline-block;
  /* Para posicionar a bolinha corretamente */
  position: relative;
  /* Ajusta a posição inicial da bolinha */
  left: 2px;
  /* Ajusta a largura da bolinha */
  width: 24px;
  /* Ajusta a altura da bolinha */
  height: 24px;
  /* Ícone padrão (desativado) */
  background-image: url('../imgs/lua.png');
  /* Ajusta a imagem para cobrir todo o espaço disponível */
  background-size: cover;
  /* Evita a repetição da imagem */
  background-repeat: no-repeat;
  /* Animação da mudança de posição */
  transition: left 0.3s;
  /* Arredonda as bordas para criar a forma arredondada - sem isso fica meio pixelada a imagem */
  border-radius: 50%;
}

/* Estilo para o switch ativado */
.form-check-input:checked+.form-check-label {
  background-color: white;
}

/* Estilo para o switch ativado */
.form-check-input:checked+.form-check-label:before {
  /* Posição da bolinha quando o switch está ativado */
  left: calc(100% - 26px);
  /* Ícone quando ativado */
  background-image: url('../imgs/sol.png');
  /* Animação da mudança de posição */
  transition: left 0.3s;
}